/* FOOTER GLOBAL */
.site-footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 1rem;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.footer-block {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: left;
}

.footer-block h4 {
    margin-bottom: 10px;
    color: #ffbd44;
    font-size: 1.1rem;
}

.footer-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.6;
}

.footer-block img {
    width: 80px;
    height: 80px;
    margin: 0 auto 0;
    display: block;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #ffbd44;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.site-footer p:last-child {
    margin-top: 1.5rem;
    color: #999;
    font-size: 0.9rem;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .footer-sections {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-block {
        max-width: 90%;
        text-align: center;
    }

    .footer-block img {
        width: 80px;
        height: 80px;
        margin: 0 auto 10px;
    }

    .insta-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .insta-block a {
        display: inline-block;
        margin-bottom: 10px;
        /* 👈 ajuste ici (0 à 10 max) */

    }

    .footer-links {
        align-items: center;
    }

    .footer-links a {
        font-size: 1.05rem;
    }

    .site-footer {
        padding: 30px 15px;
    }

    .site-footer p:last-child {
        font-size: 0.85rem;
    }
}